<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <h2 class="card-header bg-info">
                    Ajouter un nouveau produit :
                </h2>

                <div class="card-body">
                    <form>
                        <div class="  col-sm-3 col-md-3 col-lg-3">
                            <label for="">Id Produit</label>
                            <input type="number" [(ngModel)]="newProduit.idProduit" name="idProduit" class="form-control">
                        </div>
                        <div class="  col-sm-4 col-md-4 col-lg-4">
                            <label for="">Nom Produit</label>
                            <input type="text" [(ngModel)]="newProduit.nomProduit" name="nomProduit" class="form-control">
                        </div>
                        <div class="  col-sm-3 col-md-3 col-lg-3">
                            <label for="">Prix du Produit</label>
                            <input type="number" [(ngModel)]="newProduit.prixProduit" name="prixProduit" class="form-control">
                        </div>
                        <div class="  col-sm-4 col-md-4 col-lg-4">
                            <label for="">Date de creation de Produit</label>
                            <input type="date" [(ngModel)]="newProduit.dateCreation" name="dateCreation" class="form-control">
                        </div>
                        <div class=" form-group mt-3 ml-3">
                            <a href="" class="btn btn-success " type="submit" (click)="addProduit()"> Ajouter</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>