<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <table class="table table-bordered table-striped">
                    <thead class="bg-info">
                        <tr>
                            <th>id</th>
                            <th>Nom du produit</th>
                            <th>Prix de produit</th>
                            <th>Date de creation du produit</th>
                            <th>Acrions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let produit of produits">
                        <tr>
                            <td>{{ produit.idProduit}}</td>
                            <td>{{ produit.nomProduit}}</td>
                            <td>{{ produit.prixProduit}}</td>
                            <td>{{ produit.dateCreation | date:'dd/MM/yyyy'}}</td>
                            <td>
                                <a class="btn btn-danger" (click)="supprimerProduit(produit)">Supprimer</a>
                                <a class="btn btn-warning ml-2" [routerLink]="['/updateProduit',produit.idProduit]">Modifier</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>